* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px
    background-color: white;

}

header {
    background-color: #004175;
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: bold;
    color: antiquewhite;
    border-bottom: solid 3px #89DEEF;
    padding: 25px 25px 25px 25px;
    

}
.dogs {
    font-family: "oswald";
}

.dogs li {
    display: inline-block;
    color:black;
    background-color: #89DEEF;
    border-radius: 5px;
    padding: 8px;
    margin: 6px;
}

.dogs {
    width: 1500px;
    height: 5000px;
    border: 5px solid black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .container {
      margin:  0 auto;
      display: inline-block;
      height: 500px;
      width: 500px;
      border: 1px solid black;
  }

  .div-1 {
margin: 0 auto;
display: inline-block;
  }

  .div-2 {
      display: inline-block;
    margin: 0 auto;
  }

.donate {
    text-align: center;
    font-size: 50px;
    padding: 75px;
    margin: 0;
    background: linear-gradient(
        rgba(166, 169, 240, 0.6),
        rgba(166, 169, 240, 0.6)
    ),
    url("starter_files/images/donate.jpg");
    background-size: 100%;
    flex-grow: 1;
}
.volunteer {
    text-align: center;
    font-size: 50px;
    padding: 75px;
    margin: 0;
    background: linear-gradient(
        rgba(166, 169, 240, 0.6),
        rgba(166, 169, 240, 0.6)
    ),
    url("starter_files/images/volunteer.jpg");
    background-size: 100%;
    flex-grow: 1;
}
.location {
    text-align: center;
    font-size: 50px;
    padding: 75px;
    margin: 0;
    background: linear-gradient(
        rgba(166, 169, 240, 0.6),
        rgba(166, 169, 240, 0.6)
    ),
    url("starter_files/images/location.png");
    background-size: 100%;
    flex-grow: 1;
}

footer {
    display: flex;
}

.donate {
    color: white;
    font-family: 'oswald';
}

.volunteer {
    color: white;
    font-family: 'oswald';
}

.location {
    color: white;
    font-family: 'oswald';
}
img {
    margin: 0 auto;
    height: 250px;
    width: 250px;
}