* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    margin-top: 0px;
    margin-left: 50px;
    margin-right: 50px;
    margin-bottom: 10px
    background-color: white;

}

header {
    background-color: #004175;
    font-family: 'Open Sans';
    font-size: 26px;
    font-weight: bold;
    color: antiquewhite;
    border-bottom: solid 3px #89DEEF;
    padding: 25px 25px 25px 25px;
    

}
.dogs {
    font-family: "oswald";
}